@import "KeyPressPanel.razor.scss";
@import "SpeedometerPanel.razor.scss";
@import "AnalogStickPanel.razor.scss";

CrosshairPanel {
	width: 100%;
	height: 100%;
	position: absolute;
	justify-content: center;
	align-items: center;

	.crosshair-dot {
		background-color: white;
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}
}