@import "/UI/Styles/Theme.scss";
@import "/UI/HUD/KeyPressPanel.razor.scss";
@import "/UI/HUD/SpeedometerPanel.razor.scss";
@import "/UI/HUD/TimerPanel.razor.scss";

HudPanel {
	width: 100%;
	height: 100%;
	position: absolute;
}