@import "/UI/Styles/Theme.scss";

KeyPressPanel
{
  width: 100%;
  height: 100%;
  position: absolute;
  
  p {
		font-size: 50px;
		font-family: $main-font;
		color: white;
		font-weight: bold;
	}

	.keys-container {
		flex-direction: column;
		align-items: center;
		position: absolute;
		bottom: 100px;
		left: 100px;
		width: 300px;
		height: 200px;
	}

	.key-row {
		height: 100%;
	}

	.key {
		width: 100px;
		height: 100px;
		justify-content: center;
		align-items: center;

		&.highlighted {
			background-color: $main-color-highlight;
		}
	}
}