@import "/UI/Styles/Theme.scss";

KeyPressPanel.regular {
	width: 100%;
	height: 100%;
	position: absolute;

	p {
		font-size: 50px;
		font-family: $main-font;
		color: white;
		font-weight: bold;
	}

	.keys-container {
		flex-direction: column;
		align-items: center;
		position: absolute;
		bottom: 100px;
		left: 100px;
	}

	.key-row {
		height: 100%;
	}

	.key {
		width: 100px;
		height: 100px;
		justify-content: center;
		align-items: center;
		text-align: center;

		&.highlighted {
			background-color: $main-color-primary;
		}

		&.double {
			width: 200px;
		}
	}
}

KeyPressPanel.compact {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	p {
		font-size: 23px;
		font-weight: bold;
		font-family: "Poppins";
		color: white;
	}

	.keys-container {
		flex-direction: column;
	}

	.key {
		justify-content: center;
		align-items: center;
		opacity: 0;

		width: 24px;
		height: 24px;

		&.highlighted {
			opacity: 1;
		}
	}
}
