@import "/UI/Styles/Theme.scss";
@import "/UI/HUD/WallJumpPanel.razor.scss";

SpeedometerPanel {
	width: 100%;
	height: 100%;
	position: absolute;

	p {
		font-size: 50px;
		font-family: $main-font;
		color: white;
		font-weight: bold;

		&.mono {
			font-family: $main-font-mono;
		}
	}

	.spacer {
		margin-right: 15px;
	}

	.speedometer-container {
		position: absolute;
		justify-content: center;
		align-items: center;
		bottom: 100px;
		left: 500px;
		width: 290px;
		height: 100px;
	}

	.walljump-container {
		flex-direction: column;
		padding-bottom: 20px;
		position: absolute;
		left: 500px;
		bottom: 100px;
		width: 290px;
		height: 300px;
		justify-content: flex-end;
	}
}
