@namespace Tf.UI
@inherits Panel

<root class="pk">
  <div class="speedometer-container backdrop">
    <p class="mono">@Common.HUPSToKPH(HorzVelocity.Length).ToString("F1")</p>
    <div class="spacer" />
    <p>kph</p>
  </div>
</root>

@code
{
  public Vector3 HorzVelocity { get; set; }
  protected override int BuildHash() => System.HashCode.Combine(Common.HUPSToKPH(HorzVelocity.Length).ToString("F1"));
}