@namespace Tf.UI
@inherits Panel

<root class="pk">
  <div class="speedometer-container backdrop">
    <p>@HUPSToKPH(HorzVelocity.Length).ToString("F1") kph</p>
  </div>
</root>

@code
{
  public Vector3 HorzVelocity { get; set; }
  protected override int BuildHash() => System.HashCode.Combine(HUPSToKPH(HorzVelocity.Length).ToString("F1"));

  private float HUPSToKPH(float hups) => hups * 0.091392f;
}