@namespace Gauntlet.UI
@using Gauntlet.Timer
@using Gauntlet.Utils
@inherits Panel

<root class="pk">
  <div class="timer-container backdrop @((Timer.IsDisqualified ? "disqualified" : ""))">
    <h4>@Timer.LastOrCurrentLoop.ToOrdinal() loop</h4>
    <p>@Timer</p>
  </div>
</root>

@code
{
  public Timer Timer { get; set; }
  protected override int BuildHash() => Timer.ToString().GetHashCode();
}