@import "UI/Styles/Theme.scss";

TimerPanel {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	transition: opacity 0.1s ease-out;
	opacity: 1;

	h4 {
		font-size: 24px;
		font-family: $main-font;
		color: white;
		font-weight: normal;
		text-align: left;
		width: 100%;
	}

	p {
		font-size: 45px;
		font-family: $main-font-mono;
		color: white;
		font-weight: bold;
	}

	&:intro {
		opacity: 0;
	}

	&:outro {
		opacity: 0;
	}

	.timer-container {
		flex-direction: column;
		position: absolute;
		justify-content: center;
		bottom: 100px;
		align-items: center;
		right: 500px;
		width: 220px;
		height: 100px;
		padding: 5px 20px 5px 20px;
		transition: background-color 0.1s ease-out;
		transition: box-shadow 0.5s ease-out;

		&.disqualified {
			background-color: rgba(189, 9, 9, 0.686);
		}
	}

	&.complete .timer-container {
		box-shadow: 0px 0px 40px rgba($completion-color-dark, 0.7);
		background-color: $completion-color;
		// background-image: linear-gradient(1080deg, rgba($pb-color, 0.6), rgba($pb-color-dark, 0.4) 50%);
	}

	&.pb .timer-container {
		box-shadow: 0px 0px 40px rgba($pb-color-dark, 0.7);
		background-color: rgba($pb-color, 0.6);
	}
}
