@namespace Gauntlet.UI
@inherits PanelComponent

<root class="pk">
	<div class="text" style="font-size: @( FontSizePixels );">@MyStringValue</div>
</root>

@code
{
	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	[Property] public int FontSizePixels { get; set; } = 20;

	protected override int BuildHash() => System.HashCode.Combine( MyStringValue, FontSizePixels );
}
