@namespace Tf.UI
@inherits Panel

<root class="layout column settings-category @(Collapsed ? "" : "gap-extra")">
  <div class="settings settings-control category__title text backdrop @(Collapsed ? "collapsed" : "expanded")"
    @ref=CategoryPanel onclick=@ToggleCollapsed>
    <div class="bg"></div>
    <div class="bg"></div>
    @Title
  </div>
  <div class="layout column gap-extra category__content" style="display: @(Collapsed ? "none" : "flex")"
    @ref=ContentPanel>
    @ChildContent
  </div>
</root>

@code {
  public string Title { get; set; }
  private bool Collapsed { get; set; } = false;
  private Panel CategoryPanel { get; set; }
  private Panel ContentPanel { get; set; }
  private float ScrollSpeedFraction { get; set; }

  private void ToggleCollapsed()
  {
    Collapsed = !Collapsed;
  }

  public override void Tick()
  {
    base.Tick();

    ScrollSpeedFraction = ScrollSpeedFraction.Approach(Collapsed ? 0f : 1f, 3f * Time.Delta);

    if (CategoryPanel is null)
    {
      return;
    }

    var backgroundPanels = CategoryPanel.Children.Where(c => c.HasClass("bg")).ToList();

    foreach (var panel in backgroundPanels)
    {
      Length? pos = panel.Style.BackgroundPositionX ?? Length.Percent(0f);
      pos = Length.Percent(pos.Value.Value + Time.Delta * ScrollSpeedFraction);
      panel.Style.BackgroundPositionX = pos;
      panel.Style.BackgroundPositionY = pos;
    }
  }
}