@namespace Tf.UI
@attribute [StyleSheet]
@inherits PanelComponent

<root class="pk">
    <div class="layout padding-insane column">
        <div class="layout flex-grow" />
        <label class="text header">Gauntlet Movement Test</label>
        <div class="layout column gap">
            <button class="button standard backdrop" onclick=@Play onmouseover=@OnMouseOver>Play</button>
            <button class="button standard backdrop" onclick=@Quit onmouseover=@OnMouseOver>Quit</button>
        </div>
    </div>
</root>

@code
{
    [Property] public SceneFile PlayScene { get; set; }
    [Property] public SoundEvent HoverSound { get; set; }
    [Property] public SoundEvent ClickSound { get; set; }
    [Property] private GameObject Camera { get; set; }

    protected override void OnFixedUpdate()
    {
        Rotation rot = Rotation.FromYaw(3f * Time.Delta);
        Camera.Transform.Rotation = rot * Camera.Transform.Rotation;
    }

    void Play()
    {
        OnClick();
        Game.ActiveScene.Load(PlayScene);
    }

    void Quit()
    {
        Game.Disconnect();
        OnClick();
    }

    void OnClick()
    {
        Sound.Play(ClickSound);
    }

    void OnMouseOver()
    {
        Sound.Play(HoverSound);
    }
}
