@import "/UI/Styles/Theme.scss";

MainMenuPanel
{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
    backdrop-filter: brightness(0.6);

    .text {
        text-shadow: 0px 0px 10px $main-color-dark;
    }
}