@namespace Tf.UI
@attribute [StyleSheet]
@inherits PanelComponent

<root class="pk">
    <div class="layout padding-insane column">
        <div class="layout flex-grow" />
        <label class="text header">Parkour</label>
        <button class="button standard backdrop" onclick=@Play>Play</button>
    </div>
</root>

@code
{
    [Property] public SceneFile PlayScene { get; set; }

    void Play()
    {
        GameManager.ActiveScene.Load(PlayScene);
    }
}
