@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Tf.UI

<root class="pk backdrop-world">
	<section class="data-container">
		<LoopRowPanel Timer=@Timer />
		<TimeRowPanel Timer=@Timer />
		<TopSpeedRowPanel Timer=@Timer />
	</section>
</root>

@code
{
	private Timer Timer { get; set; }

	protected override void OnStart()
	{
		base.OnStart();
		if (Scene.Components.TryGet<Timer>(out Timer timer, FindMode.EnabledInSelfAndChildren))
		{
			Timer = timer;
		}
		else
		{
			Log.Error("Timer not found");
		}
	}
}