$button-standard-padding: 18px 32px;

.pk .button
{
    font-family: $main-font;
    font-weight: bold;
    font-size: 30px;
    color: white;

    &.standard
    {
        padding: $button-standard-padding;
        pointer-events: all;
        cursor: pointer;
        transition: all 0.1s ease;

        &:hover
        {
            background-color: rgba($main-color-highlight, 1);
        }
    }
}