.pk .backdrop {
  background-color: $main-color-dark;
  backdrop-filter: blur(30px);
  border-radius: 30px 0px 30px 0px;
}

.pk.backdrop-world {
  background-color: $main-color-darker;
  backdrop-filter: blur(30px);
  border-radius: 300px 0px 300px 0px;
}

.pk .settings-control {
  width: 800px;
  height: 90px;
  padding: 30px;

  justify-content: space-between;
  align-items: center;
}
