$main-font: Geist;
$main-color-dark: rgba(36, 36, 36, 0.603);
$main-color-primary: rgb(79, 172, 238);
$main-color-secondary: rgb(10, 48, 71);

@import "Text.scss";
@import "Layout.scss";
@import "Buttons.scss";
@import "Containers.scss";