$main-font: Geist;
$main-color-dark: rgba(63, 63, 63, 0.4);
$main-color-highlight: rgba(190, 18, 61, 0.75);

@import "Text.scss";
@import "Layout.scss";
@import "Buttons.scss";
@import "Containers.scss";